.container {
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 550px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.alert {
    background: red;
    color: white;
    padding: 20px 15px;
    border-radius:15px ;
    margin: 15px 0;
}